<form method="post">

    <p>
        <label for="phones">Выберите модель:</label><br />
        <select multiple name="phones">
            <option value="IPhone 6S">Apple</option>
            <option value="Lumia 950 XL">Microsoft</option>
            <option value="HTC 10">HTC</option>
            <option value="Galaxy EDGE S7">Samsung</option>
        </select>
    </p>

    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>